<html lang="fr">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>{% block title %}FLEXIRH{% endblock %}</title>

  {% block css %}
    <!-- Bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="{{ asset('FrontOffice/css/bootstrap.css') }}" />

    <!-- Fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">

    <!-- Font Awesome style -->
    <link href="{{ asset('FrontOffice/css/font-awesome.min.css') }}" rel="stylesheet" />

    <!-- Nice select -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha256-mLBIhmBvigTFWPSCtvdu6a76T+3Xyt+K571hupeFLg4=" crossorigin="anonymous" />

    <!-- Custom styles for this template -->
    <link href="{{ asset('FrontOffice/css/style.css') }}" rel="stylesheet" />
    <link href="{{ asset('FrontOffice/css/responsive.css') }}" rel="stylesheet" />
  {% endblock %}
</head>

<body>

  <div class="hero_area">
    <!-- Header section starts -->
    <div class="header_area">
      {# Include the navbar #}
      {% include 'FrontOffice/nav_bar.html.twig' %}
    </div>
    <!-- Header section ends -->

    <!-- Main content -->
    {% block content %}{% endblock %}

    {% block body %}
      <div class="container">
        <h1>Bienvenue sur votre tableau de bord</h1>

        {# Include the chatbot #}
        {% include 'FrontOffice/chatbot/index.html.twig' %}
      </div>
    {% endblock %}
  </div>

  <!-- Footer section -->
  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://html.design/">Free Html Templates</a>
      </p>
    </div>
  </footer>

  {% block js %}
    <!-- jQuery -->
    <script src="{{ asset('FrontOffice/js/jquery-3.4.1.min.js') }}"></script>
    <!-- Bootstrap js -->
    <script src="{{ asset('FrontOffice/js/bootstrap.js') }}"></script>
    <!-- Nice select -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js" integrity="sha256-Zr3vByTlMGQhvMfgkQ5BtWRSKBGa2QlspKYJnkjZTmo=" crossorigin="anonymous"></script>
    <!-- Custom js -->
    <script src="{{ asset('FrontOffice/js/custom.js') }}"></script>
  {% endblock %}
</body>

</html>
