<form id="taskEditForm" method="post" action="{{ path('app_project_task_edit', {'id': projectTask.id}) }}">
    {{ form_widget(form._token) }}
    
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.titre) }}
                {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
                <div class="invalid-feedback"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.statut) }}
                {{ form_widget(form.statut, {'attr': {'class': 'form-control'}}) }}
                <div class="invalid-feedback"></div>
            </div>
        </div>
    </div>
    
    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': 3}}) }}
        <div class="invalid-feedback"></div>
    </div>
    
    <div class="form-group">
        {{ form_label(form.date) }}
        {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
        <div class="invalid-feedback"></div>
    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
</form>