<header>
    <div class="sidebar" data-background-color="dark">
        <div class="sidebar-logo">
          <!-- Logo Header -->
          <div class="logo-header" data-background-color="dark">
            <a href="index.html" class="logo">
              <img
                src="{{ asset('BackOffice/assets/img/kaiadmin/logo_light.svg') }}"
                alt="navbar brand"
                class="navbar-brand"
                height="20"
              />
            </a>
            <div class="nav-toggle">
              <button class="btn btn-toggle toggle-sidebar">
                <i class="gg-menu-right"></i>
              </button>
              <button class="btn btn-toggle sidenav-toggler">
                <i class="gg-menu-left"></i>
              </button>
            </div>
            <button class="topbar-toggler more">
              <i class="gg-more-vertical-alt"></i>
            </button>
          </div>
          <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
      <div class="sidebar-content">
        <ul class="nav nav-secondary">
          <li class="nav-item active">
            <a
              data-bs-toggle="collapse"
              href="#dashboard"
              class="collapsed"
              aria-expanded="false"
            >
              <i class="fas fa-home"></i>
              <p>Dashboard</p>
              <span class="caret"></span>
            </a>

          </li>
          <li class="nav-section">
            <span class="sidebar-mini-icon">
              <i class="fa fa-ellipsis-h"></i>
            </span>
            <h4 class="text-section">Components</h4>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#base">
              <i class="fas fa-layer-group"></i>
              <p>Users</p>

              <span class="caret"></span>
            </a>
            <div class="collapse" id="base">
              <ul class="nav nav-collapse">
                <li>
                  <a href="{{ path('app_user_List') }}">
                    <span class="sub-item">Users</span>
                  </a>
                </li>
                
                <li>
                  <a href="{{ path('app_back_promotion_index')}}">
                    <span class="sub-item">Promotions</span>

                  </a>
                </li>
                <li>
                  <a href="components/buttons.html">
                    <span class="sub-item">Stats</span>

                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#sidebarLayouts">
              <i class="fas fa-th-list"></i>
              <p>Projects</p>

              <span class="caret"></span>
            </a>
            <div class="collapse" id="sidebarLayouts">
              <ul class="nav nav-collapse">
                <li>
                  <a href="{{path('app_project_index')}}">
                    <span class="sub-item">Projects</span>
                  </a>
                </li>
                <li>
                  <a href="{{path('app_project_task_index')}}">
                    <span class="sub-item">Tasks</span>

                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
  <a data-bs-toggle="collapse" href="#FinanceMenu">
    <i class="fas fa-calendar-alt"></i>
    <p>Gestion Finance</p>
    <span class="caret"></span>
  </a>
  <div class="collapse" id="FinanceMenu">
    <ul class="nav nav-collapse">
      
      <li>
        <a href="{{ path('app_reponse_new') }}"> 
          <span class="sub-item">Reponse</span>
        </a>
      </li>
    </ul>
  </div>
</li>
     <li class="nav-item">
            <a data-bs-toggle="collapse" href="#tables">
              <i class="fas fa-table"></i>
              <p>Training</p>

              <span class="caret"></span>
            </a>
            <div class="collapse" id="tables">
              <ul class="nav nav-collapse">
                <li>
                  <a href="{{path('formation_index')}}">
                    <span class="sub-item">Formation</span>
                  </a>
                </li>
                <li>
                  <a href="{{path('app_formateur_index')}}">
                    <span class="sub-item">Formateur</span>

                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#absencesMenu">
              <i class="fas fa-calendar-alt"></i>
              <p>Absences</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="absencesMenu">
              <ul class="nav nav-collapse">
                <li>
                  <a href="{{ path('app_absence_new') }}"> 
                    <span class="sub-item">Absences</span>
                  </a>
                </li>
                <li>
                  <a href="{{ path('app_penalite_new') }}"> 
                    <span class="sub-item">Pénalités</span>

                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#charts">
              <i class="far fa-chart-bar"></i>
              <p>Conges</p>

              <span class="caret"></span>
            </a>
            <div class="collapse" id="charts">
              <ul class="nav nav-collapse">
                <li>
                  <a href="{{ path('app_demande_conge_index') }}"
                    <span class="sub-item">Demande Conges</span>
                  </a>
                </li>
                <li>
                   <a href="{{ path('app_bulletinpaie_index') }}"
                    <span class="sub-item">Bultein de paie</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>   
</header>