<!DOCTYPE html>
<html lang="fr">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="{{ formation.Titre }}, formation, Hirevac" />
  <meta name="description" content="{{ formation.Description|striptags|slice(0, 150) }}..." />
  <meta name="author" content="Hirevac Team" />

  <title>{{ formation.Titre }} | Hirevac</title>

  {% block css %}
  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{{asset('FrontOffice/css/bootstrap.css')}}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

  <!-- font awesome style -->
  <link href="{{asset('FrontOffice/css/font-awesome.min.css')}}" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

  <!-- nice select -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha256-mLBIhmBvigTFWPSCtvdu6a76T+3Xyt+K571hupeFLg4=" crossorigin="anonymous" />

  <!-- Custom styles for this template -->
  <link href="{{asset('FrontOffice/css/style.css')}}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{{asset('FrontOffice/css/responsive.css')}}" rel="stylesheet" />

  <style>
    .btn-back {
      margin-bottom: 25px;
    }

    .card-details {
      background: #fff;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.05);
      padding: 30px;
      height: 100%;
    }

    .formation-img {
      border-radius: 10px;
      max-height: 350px;
      object-fit: cover;
      width: 100%;
    }

    .formation-title {
      font-weight: bold;
      color: #0d6efd;
      margin-bottom: 20px;
    }

    .formation-details p {
      font-size: 16px;
      margin-bottom: 10px;
    }

    .formation-section {
      padding: 60px 0;
    }

    .alert-light {
      background-color: #f8f9fa;
      border-color: #e9ecef;
    }
  </style>
  {% endblock %}
</head>

<body>

  <div class="hero_area">
    <!-- header section strats -->
    <div class="header_area">
      {# Include the navbar #}
      {% include 'FrontOffice/nav_bar.html.twig' %}
    </div>
    <!-- end header section -->
  </div>

  <!-- Formation Detail Section -->
  <section class="formation-section">
    <div class="container">
      <a href="{{ path('front_formations') }}" class="btn btn-secondary btn-back">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Retour à la liste
      </a>

      <div class="row">
        <div class="col-md-6 mb-4">
          {% if formation.Image %}
            <img src="{{ formation.Image }}" class="formation-img img-fluid" alt="{{ formation.Titre }}">
          {% else %}
            <div class="alert alert-light text-center">Aucune image disponible</div>
          {% endif %}
        </div>
        <div class="col-md-6 mb-4">
          <div class="card-details">
            <h2 class="formation-title">{{ formation.Titre }}</h2>
            <div class="formation-details">
              <p><strong><i class="fa fa-calendar" aria-hidden="true"></i> Dates :</strong> du {{ formation.DateD|date('d/m/Y') }} au {{ formation.DateF|date('d/m/Y') }}</p>
              <p><strong><i class="fa fa-clock" aria-hidden="true"></i> Durée :</strong> {{ formation.Duree }} jours</p>
              <hr>
              <p><strong><i class="fa fa-info-circle" aria-hidden="true"></i> Description :</strong><br>{{ formation.Description|nl2br }}</p>
              <p><strong><i class="fa fa-user-tie" aria-hidden="true"></i> Formateur :</strong> 
                <a href="{{ path('front_formateur_detail', { id: formateur.idFormateur }) }}" class="text-primary">
                  {{ formateur.nomF }} {{ formateur.prenomF }}
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Formation Detail Section -->

  <!-- info section -->
  <section class="info_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-2 info_links">
          <h4>
            Menu
          </h4>
          <ul>
            <li class="active">
              <a href="index.html">
                Home
              </a>
            </li>
            <li>
              <a href="about.html">
                About
              </a>
            </li>
            <li>
              <a class="" href="job.html">
                Jobs
              </a>
            </li>
            <li>
              <a class="" href="freelancer.html">
                Freelancers
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4>
            Jobs
          </h4>
          <p>
            Established fact that a reader will be distracted by the readable content of a page when looking at its
            layout. The point of using Lorem Ipsum
          </p>
        </div>
        <div class="col-md-3">
          <div class="info_social">
            <h4>
              Social Link
            </h4>
            <div class="social_container">
              <div>
                <a href="">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
              </div>
              <div>
                <a href="">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </div>
              <div>
                <a href="">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
              </div>
              <div>
                <a href="">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info_form">
            <h4>
              Newsletter
            </h4>
            <form action="">
              <input type="text" placeholder="Enter Your Email" />
              <button type="submit">
                Subscribe
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end info_section -->

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://html.design/">Free Html Templates</a>
      </p>
    </div>
  </footer>
  <!-- footer section -->

  <!-- jQery -->
  <script src="{{asset('FrontOffice/js/jquery-3.4.1.min.js')}}"></script>
  <!-- bootstrap js -->
  <script src="{{asset('FrontOffice/js/bootstrap.js')}}"></script>
  <!-- nice select -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js" integrity="sha256-Zr3vByTlMGQhvMfgkQ5BtWRSKBGa2QlspKYJnkjZTmo=" crossorigin="anonymous"></script>
  <!-- custom js -->
  <script src="{{asset('FrontOffice/js/custom.js')}}"></script>

</body>

</html>