
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.cin }}</td>
            <td>{{ user.nom }}</td>
            <td>{{ user.prenom }}</td>
            <td>{{ user.sexe }}</td>
            <td>{{ user.email }}</td>
            <td ><a href="{{ path('user_show_map', { 'id': user.id }) }}">
                {{ user.adresse }}
            </a>
            </td>
            <td>{{ user.role }}</td>
            <td>{{ user.numero }}</td>
            <td>
              <!-- Delete form with CSRF protection -->
                    <form action="{{ path('app_user_delete', {'id': user.id}) }}" method="POST" style="display:inline-block;" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                        <button type="submit" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i> Delete
                        </button>
                    </form>
                    
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-warning btn-sm" >
                        <i class="fas fa-edit"></i> Edit
                    </a>                
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="7" class="text-center">No records found</td>
        </tr>
    {% endfor %}
